:root {
   --black: #222222;
   --pink-bkg: #F1E4E6;
   --pink-color: #F09BA7;
   --pink-btn: #F16D7F;
   --white-text: #FFFFFF;
   --white-text-btm: #FBFBFB;
   --pink-text: #F16D7F;
   --grey-text: #9F9F9F;
   --grey-bkg: #F8F8F8;
   --icon-color: #E8E8E8;
   --red-text: #ff0000;
}

body {
   font-family: 'Lato';
   font-style: normal;
   font-size: 14px;
   line-height: 16px;
   box-sizing: border-box;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.header {
   background-color: var(--black);
   min-height: 75px;
}

.header__link {
   text-decoration: none;
   margin: 0 0 0 33px;
}

.header__wrp {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 18px 0 18px;
}

.header__logo-form-wrp {
   display: flex;
}

.header__search {
   margin: 8px 0 0 41px;
}

.header__search-btn {
   background-color: transparent;
   border: none;
}

.header-input {
   display: none;
   background-color: var(--black);
   border: none;
   border: 1px solid var(--white-text);
}

.header__menu-btn {
   border: none;
   background-color: transparent;
}

.header__nav {
   display: none;
   height: 764px;
   background-color: var(--white-text);
   width: 232px;
   position: absolute;
   right: 0;
   z-index: 1;
   box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.nav__wrapper {
   display: flex;
}

.header__exit-btn {
   background-color: transparent;
   margin: 16px 0 0 203px;
   border: none;
   position: absolute;
}

.header__nav-title {
   padding: 37px 0 0 34px;
   font-weight: bold;
   line-height: 17px;
   text-transform: uppercase;
   color: var(--black);
}

.header__nav-list {
   padding: 24px 0 0 0;
}

.nav-sub-item__list {
   padding: 12px 0 20px 55px;
   display: flex;
   flex-direction: column;
}

.nav-sub-item__link {
   line-height: 17px;
   text-decoration: none;
   color: var(--grey-text);
   margin: 16px 0 0 0;
}

.nav-sub-item__link-person {
   margin: 0 0 0 34px;
   line-height: 17px;
   text-decoration: none;
   color: var(--pink-text);
   text-transform: uppercase;
}

.brand {
   display: flex;
   margin: 0 0 63px;
}

.brand__img {
   background-color: var(--pink-bkg);
}

.brand__title-wrp {
   flex-grow: 1;
   background-color: var(--pink-bkg);
   display: flex;
   align-items: center;
   padding: 0 0 0 92px;
   position: relative;
}

.brand__title {
   font-size: 48px;
   font-weight: 900;
   line-height: 58px;
   text-transform: uppercase;
}

.brand__title::before {
   background: var(--pink-color);
   width: 10px;
   height: 92px;
   position: absolute;
   top: 336px;
   left: 60px;
   content: '';
}

.brand__subtitle {
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   line-height: 38px;
   display: block;
}

.brand__subtitle-pink {
   color: var(--pink-color);
}

.sales__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.sales__item {
   width: 360px;
   min-height: 260px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border: none;
}

.sales__item--woman {
   background-image: url(../img/sale-women.jpg);
}


.sales__item--man {
   background-image: url(../img/sale-man.jpg);
}

.sales__item--kids {
   background-image: url(../img/sale-kids.jpg);
}

.sales__item--shoes {
   background-image: url(../img/sale-accesories.jpg);
   background-repeat: no-repeat;
   min-height: 180px;
   margin: 30px 0 0 0;
   width: 1140px;
}

.sales__item-text {
   font-size: 16px;
   line-height: 19px;
   color: var(--white-text);
   text-transform: uppercase;
}

.sales__item-title {
   text-transform: uppercase;
   color: var(--pink-text);
   font-size: 24px;
   line-height: 29px;
   font-weight: bold;
}

.products {
   padding: 96px 0 0 0;
}

.products__title {
   font-size: 30px;
   line-height: 36px;
   text-align: center;
}

.products__subtitle {
   padding: 6px 0 48px 0;
   text-align: center;
   color: var(--grey-text);
}

.products__list {
   margin: 0 0 48px 0;
   display: flex;
   flex-wrap: wrap;
}

.products__item {
   height: 582px;
   flex-grow: 1;
   margin: 0 0 30px 0;
}

.products__link {
   display: flex;
   flex-direction: column;
   text-decoration: none;
   width: 360px;
}

.products__item-img {
   width: 360px;
}

.products__item-title {
   padding: 25px 0 13px 16px;
   text-transform: uppercase;
   font-size: 13px;
   color: var(--black);
}

.products__item-text {
   width: 314px;
   padding: 0 28px 0 16px;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: var(--grey-text);
}

.products__item-price {
   padding: 18px 0 20px 16px;
   line-height: 19px;
   color: var(--pink-text);
}

/**overlay_start**/

.products__item-cart {
   display: none;
   background-color: transparent;
   border: 1px solid var(--white-text);
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 139px;
   height: 44px;
}

.cart__text {
   color: var(--white-text);
   padding: 0 0 0 11px;
}

.products__list-overlay {
   position: relative;
}

.products__list-overlay:before {
   content: '';
   width: 360px;
   min-height: 420px;
   background: rgba(58, 56, 56, 0.86);
   position: absolute;
   top: 0;
}

.products__list-overlay:before {
   display: none;
}

.products__item:hover .products__item-cart,
.products__item:hover .products__list-overlay:before {
   display: flex;
   align-items: center;
   justify-content: center;
}

.products__item-cart:hover {
   cursor: pointer;
}

.products__item-cart:active .white-icon {
   fill: var(--pink-color);
}

.products__item-cart:active .cart__text {
   color: var(--pink-color);
}

.products__item-cart:active {
   border: 1px solid var(--pink-color);
}

/**overlay_end**/

.product__item-wrapper {
   background-color: var(--grey-bkg);
   width: 360px;
}

.products__btn-wrapper {
   margin: 63px 0 109px 0;
   text-align: center;
}

.products__btn {
   background-color: var(--pink-color);
   padding: 15px 39px;
   text-decoration: none;
   line-height: 19px;
   font-size: 16px;
   color: var(--white-text);
   border: 1px solid var(--pink-text);
}

.products__btn:hover,
.products__btn:focus {
   color: var(--red-text);
   cursor: pointer;
}

.products__btn:active {
   text-decoration: underline;
}

.aside {
   background-color: var(--black);
   align-items: center;
}

.aside__list {
   display: flex;
   justify-content: space-between;
   padding: 104px 0 104px 0;
}

.aside__item {
   width: 360px;
   text-align: center;
}

.aside__item-title {
   padding: 28px 0 16px 0;
   color: var(--white-text-btm);
   font-size: 20px;
   line-height: 24px;
}

.aside__item-text {
   font-weight: 300;
   font-size: 13.972px;
   line-height: 17px;
   color: var(--white-text-btm);
}

.wrapper-bgi {
   background-image: url(../img/footer_bg.jpg);
   background-repeat: no-repeat;
}

.top__footer {
   display: flex;
   justify-content: space-between;
}

.wrapper__icon {
   padding: 97px 0 126px 0;
   text-align: center;
}

.footer__comment {
   padding: 30px 0 0 0;
   width: 360px;
   font-style: italic;
   font-size: 20px;
   line-height: 24px;
   color: var(--black);
}

.form__wrapper {
   padding: 150px 0 156px 0;

}

.form__heading {
   font-size: 24px;
   line-height: 167%;
   font-weight: bold;
   text-align: center;
   color: var(--black);
   text-transform: uppercase;
   height: 35px;
}

.form__text {
   font-size: 18px;
   line-height: 167%;
   text-align: center;
   color: var(--black);
   text-transform: uppercase;
}

.form__subscribe {
   display: flex;
   padding: 32px 0 0 0;
   justify-content: center;
}

.form-input {
   border-radius: 100px 2px 2px 100px;
   background-color: #E1E1E1;
   border: none;
   padding: 10px 64px 10px 22px;
   opacity: 0.67;
}

.form-btn {
   border-radius: 0px 100px 100px 0px;
   background-color: var(--pink-text);
   border: none;
   color: var(--white-text);
   padding: 16px 19px 16px 19px;
   font-size: 14px;
   line-height: 17px;
}

.form__subscribe:hover .form-btn,
.form__subscribe:focus .form-btn {
   color: var(--red-text);
   cursor: pointer;
}

.box__wrapper {
   background-color: var(--black);
}

.box {
   display: flex;
   justify-content: space-between;
}

.copy {
   color: var(--white-text);
   align-items: center;
   padding: 30px 0 30px 0;
}

.socials {
   padding: 24px 0 24px 0;

}

.socials__list {
   display: flex;
}

.socials__list :last-child {
   padding: 0;
}

.socials__item {
   padding: 0 7px 0 0;
}

.white-icon {
   fill: var(--white-text-btm);
}

.socials__item-link:hover .white-icon,
.socials__item-link:focus .white-icon {
   fill: var(--pink-btn);
}

.socials__item-link:active .white-icon {
   fill: var(--red-text);
}

.header__menu-btn:hover .white-icon,
.header__menu-btn:focus .white-icon,
.header__search-btn:hover .white-icon,
.header__search-btn:focus .white-icon,
.header__link:hover .white-icon,
.header__link:focus .white-icon,
.header__exit-btn:hover .exit-icon,
.header__exit-btn:focus .exit-icon {
   fill: var(--pink-color);
}

.header__menu-btn:active,
.header__search-btn:active,
.header__link:active {
   outline: 1px solid var(--icon-color);
}

.nav-sub-item__link:hover {
   color: var(--pink-color);
   cursor: pointer;
}

.nav-sub-item__link:active,
.nav-sub-item__link-person:active {
   text-decoration: underline;
}

.header__exit-btn:active .exit-icon {
   fill: var(--red-text);
}

.nav-sub-item__link-person:active {
   color: var(--red-text);
}

.nav-sub-item__link-person:hover,
.nav-sub-item__link-person:focus {
   text-decoration: underline;
}