.brand {
   display: flex;
   margin: 0 0 63px;

   &__img {
      background-color: $pink-bkg;
      object-fit: cover;

      @include tablet {
         height: 367px;
         width: 50%;
      }

      @include mobile {
         display: none;
      }
   }

   &__title {
      @include font(48px, 58px, 900);
      text-transform: uppercase;

      @include tablet {
         @include font(44px, 53px, 900);
      }

      @include mobile {
         @include font(38px, 46px, 900);
      }

      &-wrp {
         flex-grow: 1;
         background-color: $pink-bkg;
         display: flex;
         align-items: center;
         padding: 0 0 0 92px;
         position: relative;

         @include tablet {
            padding: 0 0 0 62px;
         }

         @include mobile {
            padding: 0 0 0 83px;
            min-height: 363px;
         }
      }
   }

   &__title::before {
      background: $pink-btn;
      width: 10px;
      height: 92px;
      position: absolute;
      top: 336px;
      left: 60px;
      content: '';

      @include tablet {
         top: 140px;
         left: 40px;
      }

      @include mobile {
         width: 12px;
         height: 61px;
         top: 152px;
         left: 56px;
      }
   }

   &__subtitle {
      @include font(32px, 38px, 700);
      display: block;

      @include tablet {
         @include font(24px, 29px, 700);
      }

      @include mobile {
         @include font(20px, 24px, 700);
      }

      &-pink {
         color: $pink-color;
      }
   }
}