.header {
   background-color: $black;
   min-height: 75px;

   &__wrp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0 18px;

   }

   &__logo {

      &-img {
         width: 44px;
         height: 38px;
      }

      &-form {
         &-wrp {
            display: flex;

            @include tablet {
               margin: 0 0 0 16px;
            }

            @include mobile {
               margin: 0;
            }
         }
      }
   }

   &__search {
      display: flex;
      align-items: center;


      &-btn {
         margin: 0 0 0 41px;
         background-color: transparent;
         border: none;

         &:hover+.header__search-form {
            display: block;
         }

         &:hover .white-icon {
            fill: $pink-color;
            cursor: pointer;
         }

         &:active .white-icon {
            fill: $pink-effects;
         }
      }

      &-form {
         display: none;
      }

      &-input {
         border: none;
         border-radius: 30px;
         padding: 10px;
         width: 200%;

         @include mobile {
            width: 100%;
         }
      }
   }

   &__menu {

      &-btn {
         border: none;
         background-color: transparent;

         &:hover .white-icon,
         &:focus-visible .white-icon {
            fill: $pink-color;
            cursor: pointer;
         }

         &:active .white-icon {
            fill: $pink-effects;
         }
      }
   }

   &__link {
      text-decoration: none;
      margin: 0 0 0 33px;

      &:hover .white-icon,
      &:focus-visible .white-icon {
         fill: $pink-color;
         cursor: pointer;
      }

      &:active .white-icon {
         fill: $pink-effects;
      }

      @include mobile {
         display: none;
      }
   }


   &__nav {
      height: 764px;
      background-color: $white-text;
      max-width: 100%;
      position: absolute;
      right: 0;
      z-index: 1;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      overflow: hidden;

      transition: max-width $animation-speed;

      &-title {
         @include font (100%, 17px, 900);
         padding: 9px 0 0 0;
         text-transform: uppercase;
         color: $black;
      }

      &-list {
         padding: 24px 0 0 0;
      }

      &-item:not(:first-child) {
         padding: 20px 0 0 0;
      }
   }

   &__exit-btn {
      background-color: transparent;
      border: none;
      align-self: flex-end;

      &:hover .exit-icon,
      &:focus-visible .exit-icon {
         fill: $pink-color;
         cursor: pointer;
      }

      &:active .exit-icon {
         fill: $pink-effects;
      }
   }

}

.menu__wrapper {
   display: flex;
   flex-direction: column;
   padding: 16px 16px 0 34px;
}