.registration {

   &__main {
      font-size: 24px;
      line-height: 29px;
      color: $pink-text;
      text-transform: uppercase;
      padding: 60px;

      &-dgc {
         background-color: #F8F3F4;
         min-height: 148px;
      }
   }


   &-wrapper {
      display: flex;
   }

   &__form {
      padding: 65px 0 95px 0;
      max-width: 360px;

      &-main {
         display: flex;
         flex-direction: column;
      }

      &-text {
         font-weight: 300;
         line-height: 19px;
         color: $black;
      }

      &-list {
         display: flex;
         padding: 31px 0 0 0;
      }

      &-item:not(:first-child) {
         padding: 0 0 0 20px;
      }

      &-sex {
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         border-radius: 50%;
         width: 16px;
         height: 16px;
         border: 2px solid $grey-text-form;
         transition: 0.2s all linear;
         outline: none;
         margin-right: 5px;
         position: relative;
         top: 4px;
      }

      &-sex:checked {
         border: 6px solid $grey-text-form
      }

      &-login {
         display: flex;
         flex-direction: column;
      }

      &-name {
         font-weight: 300;
         font-size: 13px;
         line-height: 16px;
         color: $grey-text-form;
         height: 45px;
         margin: 20px 0 0 0;
         padding: 0 0 0 17px;
      }

      &-details {
         padding: 33px 0 0 0;
         font-weight: 300;
         line-height: 19px;
      }

      &-btn {
         font-size: 14px;
         line-height: 17px;
         color: $white-text;
         background: $pink-btn;
         padding: 17px 29px;
         margin: 40px 0 0 0;
         text-transform: uppercase;
         border: none;
      }
   }


   &__info {
      padding: 65px 0 0 128px;
      max-width: 652px;

      &-main {
         font-weight: 300;
         font-size: 24px;
         line-height: 29px;
         text-transform: uppercase;
      }

      &-programm {
         font-weight: 300;
         font-size: 24px;
         line-height: 29px;
         padding: 22px 0 0 0;
      }

      &-list {
         padding: 21px 0 0 0;
      }

      &-item {
         font-weight: 300;
         font-size: 24px;
         line-height: 29px;
         display: flex;
         align-items: center;

         &:not(:first-child) {
            padding: 16px 0 0 0;
         }

         &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 16px;
            margin: 0 22px 0 0;
            background-image: url(../img/checkmark.svg);
            background-size: cover;
         }
      }
   }
}


.radio-text {
   color: $black;
   font-weight: 300;
   font-size: 11px;
   line-height: 13px;
}


.details__help {
   font-weight: 300;
   font-size: 13px;
   color: $grey-text-form;
   padding: 15px 0 0 0;
}